@font-face{font-family:'RC';font-weight:300;font-style:normal;font-display:block;src:url(barlowcond-300.woff2) format('woff2')}
@font-face{font-family:'RC';font-weight:400;font-style:normal;font-display:block;src:url(barlowcond-400.woff2) format('woff2')}
@font-face{font-family:'RC';font-weight:600;font-style:normal;font-display:block;src:url(barlowcond-600.woff2) format('woff2')}
